* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #3498DB;
  color: white;
  padding: 1em;
  text-align: center;
}

.game {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.game .gameScenario {
  flex-direction: column;
  flex-grow: 1;
}

.game .gameScenario .gameMenu {
  display: flex;
  justify-content: space-between;
  background-color: #AED6F1;
  padding: 0.5em 1em 0.5em 1em;
  border-bottom: 1px solid #ECF0F1;
}

.game .gameScenario .gameMenu div {
  color: #3498DB;
  font-weight: bold;
  font-size: large;
  align-self: center;
}

.game .gameScenario .gameMenu .newGame {
  border: 2px solid #3498DB;
  border-radius: 1em;
  color: #3498DB;
  font-weight: bold;
  font-size: large;
  background-color: white;
  padding: 0.5em 1.5em 0.5em;
  cursor: pointer;
}

.game .gameScenario .gameMenu .newGame:hover:enabled {
  background-color: #ECF0F1;
}

.game .gameScenario .gameMenu .newGame:focus {
  outline: none;
  color: #ECF0F1;
  background-color: #3498DB;
  border: 2px solid #ECF0F1;
}

.game .gameScenario .gameMenu .newGame:disabled {
  color: grey;
  border: 2px solid grey;
  cursor: default;
}

.game .gameScenario #draggables {
  display: flex;
  height: 125px;
  justify-content: space-around;
  align-items: center;
}

.game .gameScenario #draggables .draggable {
  border: 2px solid #2E86C1;
  border-radius: 0.5em;
  background-color: #ECF0F1;
  color: #2E86C1;
  font-weight: bold;
  padding: 1em;
}

.game .gameScenario #droppables {
  border-top: 2px dotted #3498DB;
  display: flex;
  justify-content: space-around;
  padding: 1em 0;
}

.game .gameScenario #droppables .country {
  border: 2px solid #2E86C1;
  border-radius: 0.5em;
}

.game .gameScenario #droppables .country h3 {
  text-align: center;
  color: #2E86C1;
  background-color: #ECF0F1;
  border-radius: 0.5em 0.5em 0 0;
  padding: 1em;
}

.game .gameScenario #droppables .country .droppable {
  border-top: 2px solid #2E86C1;
  height: 75px;
  width: 150px;
}

.game .gameScenario #droppables .country .success {
  background-color: #ABEBC6;
  border-radius: 0 0 0.5em 0.5em;
}

.game #mapid {
  height: 360px;
  width: 540px;
}

#charts {
  border-top: 2px solid #3498DB;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
